<footer class="footer">
  <div class="container">
    <small>
    Art Gallery powered by <a herf="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
      </ul>
    </nav>
  </div>
</footer>