<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="hovereffect">
    <%= link_to artwork do %>
      <%= gravatar_for artwork %>
      <div class="overlay">
        <!-- <h2>Artist Name</h2> -->
        <p class="icon-links"><%= artwork.title %></p>
      </div>
    <% end %>
  </div>
</div>