<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1>Welcome to the Art Gallery</h1>

  <h2>
    This is the home page for the Art Gallery
  </h2>

</div>

<div class="container" id="gallery">
  <div class="row">
    <% @artworks.each do |artwork| %>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="hovereffect">
          <%= link_to artwork do %>
            <%= image_tag("dummy.png", class: "img-responsive") %>
            <div class="overlay">
              <!-- <h2>Artist Name</h2> -->
              <p class="icon-links"><%= artwork.title %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
